.wrapper {
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 25px;
    top: 10px
}

.lang {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    color: #8C8B8E;
}


